In [138]:
import pandas as pd

import numpy as np

from sklearn.model_selection import train_test_split

In [139]:
dt = pd.read_csv("OneriVerisetiENG.csv")

In [140]:
dt

,Id,Sehir,BolgeId,Bolge,N,P,K,pH,Sicaklik,Nem,YagmurOrani,Urun
0,1,Adana,1,Akdeniz Bolgesi,450.0,20.0,280.0,7.8,27,60,900,Pamuk
1,1,Adana,1,Akdeniz Bolgesi,450.0,20.0,280.0,7.8,25,70,1100,Narenciye
2,1,Adana,1,Akdeniz Bolgesi,450.0,20.0,280.0,7.8,14,50,600,Bugday
3,1,Adana,1,Akdeniz Bolgesi,450.0,20.0,280.0,7.8,25,60,800,Misir
4,1,Adana,1,Akdeniz Bolgesi,450.0,20.0,280.0,7.8,27,60,600,Karpuz
...,...,...,...,...,...,...,...,...,...,...,...,...
392,81,Duzce,6,Karadeniz Bolgesi,1000.0,8.0,175.0,6.0,17,80,1100,Findik
393,81,Duzce,6,Karadeniz Bolgesi,1000.0,8.0,175.0,6.0,15,55,425,Bugday
394,81,Duzce,6,Karadeniz Bolgesi,1000.0,8.0,175.0,6.0,21,70,700,Armut
395,81,Duzce,6,Karadeniz Bolgesi,1000.0,8.0,175.0,6.0,20,65,800,Kiraz
396,81,Duzce,6,Karadeniz Bolgesi,1000.0,8.0,175.0,6.0,25,65,750,Biber

In [141]:
dt.drop("Bolge",axis=1,inplace=True)

In [142]:
dt.drop("Sehir",axis=1,inplace=True)

In [143]:
dt

,Id,BolgeId,N,P,K,pH,Sicaklik,Nem,YagmurOrani,Urun
0,1,1,450.0,20.0,280.0,7.8,27,60,900,Pamuk
1,1,1,450.0,20.0,280.0,7.8,25,70,1100,Narenciye
2,1,1,450.0,20.0,280.0,7.8,14,50,600,Bugday
3,1,1,450.0,20.0,280.0,7.8,25,60,800,Misir
4,1,1,450.0,20.0,280.0,7.8,27,60,600,Karpuz
...,...,...,...,...,...,...,...,...,...,...
392,81,6,1000.0,8.0,175.0,6.0,17,80,1100,Findik
393,81,6,1000.0,8.0,175.0,6.0,15,55,425,Bugday
394,81,6,1000.0,8.0,175.0,6.0,21,70,700,Armut
395,81,6,1000.0,8.0,175.0,6.0,20,65,800,Kiraz
396,81,6,1000.0,8.0,175.0,6.0,25,65,750,Biber

In [144]:
dt["Urun"].sort_values().unique()

array(['Antepfistigi', 'Armut', 'Arpa', 'Aycicegi', 'Balkabagi', 'Bamya',
       'Bezelye', 'Biber', 'Borulce', 'Bugday', 'Cavdar', 'Cay', 'Ceviz',
       'Cilek', 'Domates', 'Elma', 'Erik', 'Fasulye', 'Findik', 'Fistik',
       'Gul', 'Hashas', 'Incir', 'Karpuz', 'Kavun', 'Kayisi', 'Kestane',
       'Kiraz', 'Kivi', 'Lahana', 'Limon', 'Marul', 'Mercimek', 'Misir',
       'Muz', 'Nar', 'Narenciye', 'Nohut', 'Pamuk', 'Pancar', 'Patates',
       'Patlican', 'Pazi', 'Pirinc', 'Salatalik', 'Sarimsak', 'Seftali',
       'Sogan', 'Tutun', 'Uzum', 'Yonca', 'Yulaf', 'Zeytin'], dtype=object)

In [145]:
dt_urun_dict = {

"Armut": 1,
"Arpa": 2,
"Aycicegi": 3,
"Balkabagi": 4,
"Bamya": 5,
"Bezelye": 6,
"Biber": 7,
"Borulce": 8,
"Bugday": 9,
"Cavdar": 10,
"Cay": 11,
"Ceviz": 12,
"Cilek": 13,
"Domates": 14,
"Elma": 15,
"Erik": 16,
"Fasulye": 17,
"Findik": 18,
"Fistik": 19,
"Gul": 20,
"Hashas": 21,
"Incir": 22,
"Karpuz": 23,
"Kavun": 24,
"Kayisi": 25,
"Kestane": 26,
"Kiraz": 27,
"Kivi": 28,
"Lahana": 29,
"Limon": 30,
"Marul": 31,
"Mercimek": 32,
"Misir": 33,
"Muz": 34,
"Nar": 35,
"Narenciye": 36,
"Nohut": 37,
"Pamuk": 38,
"Pancar": 39,
"Patates": 40,
"Patlican": 41,
"Pazi": 42,
"Pirinc": 43,
"Salatalik": 44,
"Sarimsak": 45,
"Seftali": 46,
"Sogan": 47,
"Tutun": 48,
"Uzum": 49,
"Yonca": 50,
"Yulaf": 51,
"Zeytin": 52,
"Antepfistigi":53


}

In [146]:
dt["Urun"] = dt["Urun"].map(dt_urun_dict)

In [147]:
dt

     Id  BolgeId       N     P      K   pH  Sicaklik  Nem  YagmurOrani  Urun
0     1        1   450.0  20.0  280.0  7.8        27   60          900    38
1     1        1   450.0  20.0  280.0  7.8        25   70         1100    36
2     1        1   450.0  20.0  280.0  7.8        14   50          600     9
3     1        1   450.0  20.0  280.0  7.8        25   60          800    33
4     1        1   450.0  20.0  280.0  7.8        27   60          600    23
..   ..      ...     ...   ...    ...  ...       ...  ...          ...   ...
392  81        6  1000.0   8.0  175.0  6.0        17   80         1100    18
393  81        6  1000.0   8.0  175.0  6.0        15   55          425     9
394  81        6  1000.0   8.0  175.0  6.0        21   70          700     1
395  81        6  1000.0   8.0  175.0  6.0        20   65          800    27
396  81        6  1000.0   8.0  175.0  6.0        25   65          750     7

[397 rows x 10 columns]

In [148]:
X = dt.drop("Urun",axis=1)
y = dt["Urun"]

In [149]:
X

     Id  BolgeId       N     P      K   pH  Sicaklik  Nem  YagmurOrani
0     1        1   450.0  20.0  280.0  7.8        27   60          900
1     1        1   450.0  20.0  280.0  7.8        25   70         1100
2     1        1   450.0  20.0  280.0  7.8        14   50          600
3     1        1   450.0  20.0  280.0  7.8        25   60          800
4     1        1   450.0  20.0  280.0  7.8        27   60          600
..   ..      ...     ...   ...    ...  ...       ...  ...          ...
392  81        6  1000.0   8.0  175.0  6.0        17   80         1100
393  81        6  1000.0   8.0  175.0  6.0        15   55          425
394  81        6  1000.0   8.0  175.0  6.0        21   70          700
395  81        6  1000.0   8.0  175.0  6.0        20   65          800
396  81        6  1000.0   8.0  175.0  6.0        25   65          750

[397 rows x 9 columns]

In [150]:
y.reset_index()

     index  Urun
0        0    38
1        1    36
2        2     9
3        3    33
4        4    23
..     ...   ...
392    392    18
393    393     9
394    394     1
395    395    27
396    396     7

[397 rows x 2 columns]

In [151]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.2,random_state=42)

In [152]:
from sklearn.preprocessing import MinMaxScaler


ms = MinMaxScaler()
X_train=ms.fit_transform(X_train)
X_test=ms.transform(X_test)

In [153]:
X_train

array([[0.675     , 0.83333333, 0.78571429, ..., 0.31578947, 0.95238095,
        0.45454545],
       [0.275     , 0.16666667, 0.42857143, ..., 0.15789474, 0.23809524,
        0.15151515],
       [0.4375    , 0.16666667, 0.42857143, ..., 0.21052632, 0.23809524,
        0.03030303],
       ...,
       [0.6875    , 0.5       , 1.        , ..., 0.63157895, 0.35714286,
        0.        ],
       [0.8875    , 0.5       , 1.        , ..., 1.        , 0.35714286,
        0.21212121],
       [0.25      , 0.5       , 1.        , ..., 0.21052632, 0.23809524,
        0.03030303]], shape=(317, 9))